body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#calculatorContainer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#calculatorContainer h2 {
    text-align: center;
}

#calculatorTypeContainer {
    margin-bottom: 20px;
}

#calculatorType {
    padding: 5px;
}

.input-field {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.calculate-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculate-button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
